.dashboard{
    display: flex;
    flex-direction: row;
    
}

.dashboardInfo{
    background-color: #F3F0F7;
    padding: 10vh 2vw;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    gap: 4vh;  
}

@media only screen and (max-width: 780px) {
   
    .dashboard{
        flex-direction: column;
        
    }

    .dashboardInfo{
        padding: 3vh 5vw;

    }
    
  }

  
@media only screen and (max-width: 780px) {
   


    .dashboardInfo{
        min-height: 62vh;
    }
    
  }

  