.homeBody {
  background-color: #f3f0f7;
  min-height: 100vh;
  padding-top: 50px;
}

.homeBody div {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 15vh auto;
  padding-bottom: 15vh;
}

.homeBody div ul {
  margin-left: 50px;
}

.homeBody div ul li {
  line-height: 30px;
}

@media only screen and (max-width: 845px){
    .homeBody{
        padding-right:50px;
        padding-left: 50px;
    }

    .homeBody div {
        width: 100%;
        margin: 5vh auto;
        padding-bottom: 5vh;
    }

}
