.dashboardFilter{
    width: 300px;
    height: 100vh;
    padding-top: 10vh;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff; 

}

 .dashboardContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 0 auto;
} 

.dashboardTitle{
    color: #fff;
    letter-spacing: 1px;
}

.filter{
    background-color: #333;
   
}

.default{
    letter-spacing: 1px;
    cursor: pointer;
}

.filterOptions{
    height: 180px;
    transition: height 1s ease;
    overflow:hidden ;
}

.filterClosed{
    height: 0;
    overflow: hidden;
    transition: height 1s ease;

}

.filterOptions div, .default, .filterClosed div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 45px;
    border: 1px #595757 solid;
}

input[type="checkbox"] {
    accent-color: #E91E63; /* black checkbox */
    background-color: #fff; /* white background */
    cursor: pointer;
}

.arrowsUp, .arrowsDown{
    display: flex;
    flex-direction: column;
    padding-top: 11px;
    transform: rotate(0deg);
    transition: transform 1s ease;
}

.arrowsUp{
    transform: rotate(180deg);
    color: #E91E63;
    transition: transform 1s ease;
}
.head{
    margin: -11px 0 ;
}