

.dashSection1, .section1Control{
    display: flex;
    flex-direction: row;
}

.btn{
display: flex;
flex-direction: column;
align-items: center;
cursor: pointer;
}

.btn h6{
    font-size: 0.45em;
}

.dashSection1{
    justify-content: space-between;
    align-items: center;

}

.section1Control {
    background-color: #fff;
    border-radius: 25px;
    width: 450px;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.searchUnderline{
height: 1px;
width: 100%;
background-color: #000;
margin-top: 5px;
}


input[type="search"]{
    border: none;
    padding-left: 15px; 
    width: 300px;  
}

input[type="search"]:focus  {
    outline: none;
}

.section1Control img{
height: 25px;
width: 25px;
}

/* button{
    border: none;
    outline: #000 solid 1px;
    font-size: 0.5em;
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    letter-spacing: 1px;    
    transition: background-color 300ms ease;

}
button:hover{
    outline: #E91E63 solid 1px;
    background-color: #000;
    color: #fff;
    transition: background-color 300ms ease;
}

button:active{
    outline: #E91E63 solid 1px;
    background-color: #E91E63;
    color: #fff;
} */

@media only screen and (max-width: 970px) {

    .dashSection1{
        flex-direction: column;
        gap: 1.5vh;
    }
    
}

@media only screen and (max-width: 500px) {


    
    input[type="search"]{
       width:230px;  
    }
    .section1Control {

        width: 330px;
    }
    
  }

 

 