.dashSection2{
display: flex;
flex-direction: row;
gap: 2vh;
justify-content: center;

}

.dashSection2 table{
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 30px;
    width: 50%;
}

td, th {
   padding: 20px 0;
   text-align: center;
    width: 200px;
    
  }

  .pieChart {
    width: 50%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px; 
    display: flex; 
    flex-direction: row;
      justify-content: center;
      align-self: center;
      height: 100%;
    
  }
  
  .pieChart img {
    border-radius: 30px;
    margin: 1vh auto;
    display: block; /* Needed to center with margin auto */
    max-width: 100%; /* Ensures it scales responsively */
    height: auto;
  }


  @media only screen and (max-width: 1330px) {

    td, th {
      padding: 20px 0;
      text-align: center;
       width: 150px;
       
     }
  }

  @media only screen and (max-width: 1250px) {
    .dashSection2{

      flex-direction: column;
    
      }
      .pieChart, .dashSection2 table {
        width: 100%;
        
      }
  
    
  }

  @media only screen and (max-width: 970px) {
   
    td, th {
      padding: 10px 0;

       
     }
    
  }
  
  @media only screen and (max-width: 900px) {
   
    .pieChart img {
      width: 80%;
      
    }

    
  }

  @media only screen and (max-width: 600px) {
   
    td, th {

       width: 100px;
       font-size: 0.8em;
     }
    
  }

 